@tailwind base;
@tailwind components;

.search-box {
    transition: box-shadow 0.2s linear;
}

.nav_link {
    @apply ml-8 border-b-2 border-white hover:border-gray-600 h-full flex items-center;
    a {
        @apply py-9 px-5;
    }
}

.btn {
    @apply w-full font-semibold text-lg mb-2 border text-center rounded-sm py-5;
}

.btn-link {
    @apply w-full font-semibold text-lg mb-2 border text-center py-3 rounded-lg text-white bg-red-400 border-red-400;
}

textarea,
select,
input {
    @apply w-full font-semibold text-lg mb-1 rounded-sm py-3 text-left border border-gray-500 px-5 focus:outline-none focus:border-green-500 focus:shadow-md;
}

textarea {
    resize: none;
    height: 100px;
}

select {
    height: 50px;
}

form {
    .input {
        @apply mb-3;
        &.has_error {
            input {
                @apply bg-red-200 border-gray-500;
                &:focus {
                    @apply border-gray-500;
                }
            }
        }
    }
}

.err_span {
    @apply text-red-700 font-semibold text-sm;
}

@keyframes messageFadeIn {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    5% {
        opacity: 1;
        transform: translateY(50px);
    }
    95% {
        opacity: 1;
        transform: translateY(50px);
    }
    100% {
        opacity: 0;
        transform: translateY(-50px);
    }
}

.message {
    animation: messageFadeIn 5s ease-in-out forwards;
    &.error {
        @apply bg-red-600;
    }
    &.info{
        @apply bg-blue-400;
    }
    &.success{
        @apply bg-green-500;
    }
    &.warning{
        @apply bg-yellow-400;
    }
}

@tailwind utilities;